In [18]:
class person:
    def __init__(self,n,a,p,r):
        self.name=n
        self.age=a
        self.place=p
        self.rank=r
a=person("hii",23,"calicut",6)

class student(person):
    pass
x=student("hello",25,"kozhikode",5)
print(x.name)
print(x.age)
print(x.place)
print(x.rank)

hello
25
kozhikode
5

In [20]:
class person:
    def printname(self):
        print("hii")
    def printage(self):
        print(23)
    def printplace(self):
        print("calicut")
class student(person):
    def printname(self):
        print("hello")
    def printschool(self):
        print("xyz")
obj=student()
obj.printname()
obj.printage()
obj.printplace()
obj.printschool()

hello
23
calicut
xyz

In [23]:
class vehicle:
    def printname(self):
        print("volvo")
    def printroute(self):
        print("Tvm to Kkd")
    def printticket(self):
        print("Rs.1500")
    def printseatno(self):
        print(20)
class Bus(vehicle):
    def printname(self):
        print("ashok leyland")
    def printticket(self):
        print("Rs.1000")
obj=Bus()
obj.printname()
obj.printroute()
obj.printticket()
obj.printseatno()

ashok leyland
Tvm to Kkd
Rs.1000
20

In [33]:
class vehicle:
    def printname(self):
        print("volvo")
    def printroute(self):
        print("Tvm to Kkd")
    def printticket(self):
        print("Rs.1500")
    def printseatno(self):
        print(20)
class Bus(vehicle):
    def printbusseatingcapacity(self,capacity=80):
        
        print(capacity)
obj=Bus()
obj.printname()
obj.printroute()
obj.printticket()
obj.printseatno()
obj.printbusseatingcapacity()

volvo
Tvm to Kkd
Rs.1500
20
80

In [31]:
class animal:
    def printname(self):
        print("BOW")
    def printage(self):
        print("2")
    def printbreed(self):
        print("Husky")
class dog(animal):
    def printprice(self):
        print(10000)
class puppy (dog):
    def printname(self):
        print("tommy")
    def printplace(self):
        print("calicut")
obj=puppy()
obj.printname()
obj.printage()
obj.printbreed()
obj.printprice()
obj.printplace()

tommy
2
Husky
10000
calicut

In [42]:
class calculation1:
    def summation(self,a,b):
        return a+b;

class calculation2:
    def mulitiplication(self,a,b):
        return a*b;
class derived(calculation1,calculation2):
    def divide(self,a,b):
        return a/b;
d=derived()
print(d.summation(1,2))
print(d.mulitiplication(1,2))
print(d.divide(1,2))

3
2
0.5