In [1]:
def my_func():
    print("hello good morning")
my_func()

hello good morning

In [2]:
def mulitiple(x,y):
    return x*y
print(mulitiple(5,2))

10

In [3]:
a=("hello")

In [4]:
a.lower()

'hello'

In [5]:
a.upper()

'HELLO'

In [6]:
b=input("enter your name")
print(len(b))

enter your nameATHUL M K
9

In [13]:
print(a.count("a"))

0

In [14]:
print("local variable")
def myfunc():
    x=100
    print(x)
myfunc()

local variable
100

In [15]:
print("global variable")
x=100
def myfunc():
    print(x)
myfunc()
print(x)

global variable
100
100

In [16]:
mulitiple(5,2)

10

In [11]:
x

100

In [12]:
fact(7)

NameError: name 'fact' is not defined

In [ ]:
def fact(a):

    b=1
    if(a<1):
        print("the given number is negative")
    elif(a==0):
        print("factorial of 0 is 1")
    else:
        for i in range(1,a+1):
            b=b*i
        print(b)

In [ ]:
fact(6)

In [ ]:

def plus(a,b): 
    print(a+b)
    
def minus(c,d):
    print(c-d)

def divide(e,f):
    print(e/f)
          
def mulitiple(h,g):
    print(h*g)

In [ ]:
def mulitiple(x,y):
    return x*y
print(mulitiple(5,2))

In [ ]:
plus(6,6)

In [ ]:
minus(6,6)

In [ ]:
mulitiple(7,6)

In [ ]:
divide(9,10)

In [ ]:
divide(6,6)

In [ ]:
mulitiple(2,11)

In [ ]:
def mulitiple(a,b):
    
    for i in range(0,b):
        result = a * i
        print(a," * ",i," = ",result)

In [ ]:
mulitiple(2,7)

In [ ]:
mulitiple(3,18)

In [17]:
def fibinocciseries(n):
    n1 = 0
    n2 = 1
    if n == 1:
        print(n1)
    else:
        print(n1)
        print(n2)
        for i in range(2,n):
            t = n1 + n2
            n1 = n2
            n2 = t
            print(t)
fibinocciseries(16)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610